h1 {
    color: black;
	font-size: xx-large
}

h2 {
    color: black;
	font-size:x-large
}

h3 {
    color: black;
	font-size: medium
}

red {
  color: red;
	font-weight: bold;	
	font-size: x-large
}

green {
    color: LimeGreen;
	font-weight: bold;
	font-size: x-large
}

.btn-link{
  border:none;
  border-radius:12px;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
  background-color: #eb5e0c;
  border: none;
  border-radius:12px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: large;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {opacity: 1}


.smallbutton {
  background-color: #eb5e0c;
  border: none;
  border-radius:12px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: large;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.smallbutton:hover {opacity: 1}

.center {
  text-align: center;
  list-style-position: inside;
}

.textbox {
  width: 40%;
}

.numbox {
  width: 10%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  align: center;
  width: 70%;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: white;
  background-color: #eb5e0c;
}
