<?
include "http.tbh"
dim b, c as byte
dim sens_type, data as string
current_sensor_state.poll_sensors=true
?>

</br><h1>Monitor Sensors</h1></br>

<?	
if current_sensor_state.total_sensors_detected=0 then?>
	<h2><red>No sensors detected! Please ensure that sensors are connected correctly and have been assigned a UNIQUE ID, then scan again.
	</red></h2></br>
	<?else?>
	<h2>
	<table>
	  <tr>
		<th>Sensor ID</th>
		<th>Sensor Type</th>
		<th>Sensor Data</th>
	  </tr>
	<?  
	for b=0 to 9
		if current_sensor_data.sens_no(b)<>0 then
			select case current_sensor_data.sens_type(b)
			case 1:
				sens_type="Temperature/Humidity"
				if current_sensor_data.sens_data(b)="" then
					data="Offline"
				else
					c=instr(1,current_sensor_data.sens_data(b),"x",1)
					data=left(current_sensor_data.sens_data(b),c-1)+ "C " + right(current_sensor_data.sens_data(b),len(current_sensor_data.sens_data(b))-c) + "%"
				end if				
			case 2:
				sens_type="Temperature"
				if current_sensor_data.sens_data(b)="" then
					data="Offline"
				else
					data=(current_sensor_data.sens_data(b) + "C")
				end if
			case 3:
				sens_type="Light"
				if current_sensor_data.sens_data(b)="" then
					data="Offline"
				else
					data=current_sensor_data.sens_data(b) + " lx"
				end if
			end select
		end if
		if current_sensor_data.sens_no(b)<>0 then?>
			<tr>
				<td><?sock.setdata(str(current_sensor_data.sens_no(b)))?></td>
				<td><?sock.setdata(sens_type)?></td>
				<td><span id="reading<?sock.setdata(str(b))?>">0</span></td>
			</tr>
		<?end if
	next b
end if
?>
</table></h2></br>
<button class="smallbutton" onclick="loadIndex()">Main Menu</button>