<?
include "http.tbh"
current_sensor_state.poll_sensors=false
dim b, id as byte
dim s as string
sock.gethttprqstring(6)
s=sock.httprqstring
b=instr(1,s," HTTP/1.1",1)
s = sock.gethttprqstring(b-1)
reprogram_address(0,val(s))
?>


<div id="demo" align="center">

</div>
<img src="spacer.gif" onload="
    loadSetIdPage();this.parentNode.removeChild(this);"/>
</div></br></h1>