<?
include "http.tbh"
?>
</br><h1>Scan Complete!</h1></br>
<h2>
<?if current_sensor_state.total_sensors_detected=0 then?>
<red>No sensors detected! Please ensure that sensors are connected correctly and have been assigned a UNIQUE ID, then scan again.</red>
<?else?><green><?sock.setdata(str(current_sensor_state.total_sensors_detected))?></green> sensors detected 
<?end if?>
</h2></br>
<button class="smallbutton" onclick="loadIndex()">Main Menu</button>