
</br><h1>Set Sensor ID</h1></br>
<h2><ol class="center">
	<li>Select the new ID.</li>
	<li>Press and hold MD button on sensor..</li>
	<li>Press "Set ID"</li>
	<li>Release the MD button.</li>
</ol></br>

<input type="number" id="address" min="1" max="147" value="1"></br></br></h2>

</h2></br><button class="smallbutton" onclick="setID()">Set ID</button></br>
<button class="smallbutton" onclick="loadIndex()" ontouchend="loadIndex()">Main Menu</button>

