<?
include "http.tbh"
lcd_scan()
?>

<br><h1><span id="title">Scanning for sensors...</span></h1>
<h2><br>
<div id="percentupdate"><b><span id="percent"></span>% Complete</b></div>
</h2>
<div class="progress" id="progressb" style="width:40%;">
	<div id="progbar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
	</div>
</div>
